/* ✅ Reset de base */
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  background: #f3dfb7
  
}

.navbar-orange {
  background-color: #8d2915;
}

.btn-orange {
  background-color: #DF9328;
  border-color: #DF9328;
  color: #fff;
}

.btn-orange:hover {
  background-color: #c87520;
  border-color: #c87520;
}

