/* ✅ Reset de base */
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  background: #f3dfb7;
  color: #8d2915;
}

.navbar-orange {
  background-color: #8d2915;
}

.btn-orange {
  background-color: #DF9328;
  border-color: #DF9328;
  color: #fff;
}

.btn-orange:hover {
  background-color: #c87520;
  border-color: #c87520;
}

.table-personnalisee {
  text-align: center;
  font-size: 0.95rem;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}

.table-personnalisee thead th {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  background-color: #df9328 !important;
  color: white;
  padding: 12px;
}

.table-personnalisee tbody td {
  padding: 10px;
  vertical-align: middle;
  background-color: #f9e5c8 !important;
}

.table-personnalisee tbody tr:hover {
  background-color: #f9e5c8 !important;
  transition: background-color 0.3s ease;
}



.btn-poubelle {
  font-weight: bold;
  padding: 4px 10px;
}


.btn-poubelle {
    padding: 2px 8px;
}

/* tableau responsive */
@media (max-width: 768px) {
  .table-personnalisee thead {
    display: none;
  }

  .table-personnalisee tbody td {
    display: block;
    text-align: center;
    position: relative;
  }

  .table-personnalisee tbody td::before {
    
    position: absolute;
    left: 0;
    width: 45%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }
}


